<!--<vendor-detail [selectedTab]="vendorTab">-->
<section class="content">
    <notification-msg #notificationcomponent></notification-msg>
    <div class="notes-main col-md-12">
        <div class="row notes-option">
            <div class="col-md-6 col-sm-12 col-xs-12 notes-type">
                <label>Note Type</label>
                <select (change)="filterNotes($event)" class="form-control">
                    <option value="[ALL]" selected="selected">[ALL]</option>

                    <option *ngFor="#t of noteTypeList" value="{{t.cboEntry}}">{{t.cboEntry}}</option>
                </select>
            </div><!-- col-md-6 -->
            <div class="col-md-4 col-sm-10 col-xs-12 notes-selection mT10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" #vendorviewablesearch (click)="vendorViewableSearch(vendorviewablesearch.checked)"> Show Vendor Viewable Notes Only
                    </label>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-2 col-sm-2 col-xs-12 text-right">
                <button class="btn btn-primary" (click)="addBtnForm()" data-toggle="modal" data-target="#notesModel">Add New</button>
                <button class="btn btn-primary" id="triggerEmailPopup" style="display:none" data-toggle="modal" data-target="#emailModel">Email</button>
                <button class="btn btn-primary" style="display:none" id="triggerToList" data-toggle="modal" data-target="#toModel">To List</button>

            </div><!-- col-md-2 -->
        </div><!-- row notes-option -->

        <div class="row notes-content">
            <label *ngIf="isNoNoteFound"> No Notes Found</label>
            <div class="col-sm-12 notes-item" *ngFor="#note of NotesModelList">
                <div class="row">
                    <div class="col-md-2 notes-icon">
                        <div class="note-type payrol">
                            <div class="note-date">{{ note.LastModDate }}</div>
                            <h5 class="note-type-heading">{{note.NoteType}}</h5>
                            <p>{{note.LastModBy}}</p>
                        </div>
                    </div><!-- notes-icon -->
                    <div class="col-md-10 notes-text">
                        <h5>{{note.SentTo}}</h5>
                        <p>{{note.Note}}</p>
                    </div><!-- notes-text -->
                </div>
            </div><!-- notes-item -->

        </div><!-- notes-content -->
    </div>
    <!-- Notes Modal -->
    <div *ngIf="noteFormVisible">
        <div class="modal fade" id="notesModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <h5 class="modal-title" id="myModalLabel">Add New Note</h5>
                    </div>
                    <form role="form" (ngSubmit)="onSubmit()" #notesForm="ngForm">
                        <div class="modal-body">
                            <div class="row">
                                <!-- new -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select id="ddlAddNewVendorType" class="form-control" [(ngModel)]="model.NoteType" ngControl="noteType" #noteType="ngForm" required>
                                            <option *ngFor="#t of noteTypeListInPopup" value="{{t.cboEntry}}">{{t.cboEntry}}</option>

                                        </select>
                                        <div [hidden]="noteType.valid || noteType.pristine" class="alert alert-danger">
                                            NoteType Is Required
                                        </div>
                                    </div>
                                </div><!-- col-md-6 -->
                                <div class="col-md-6 mT25">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" #vendorViewable (click)="VendorViewable(vendorViewable.checked)" [(ngModel)]="model.VendorViewable" /> Viewable by Vendor
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p>Please enter your text</p>
                            <textarea maxlength="900" rows="6" cols="50" style="resize:none" class="form-control" [(ngModel)]="model.Note" ngControl="note" #note="ngForm" required></textarea>
                            <div [hidden]="note.valid || note.pristine" class="alert alert-danger">
                                Note Is Required
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-6 text-left">
                                <!-- new --><label class="checkbox">
                                    <input type="checkbox" #isEmaiNote (click)="EmailNote(isEmaiNote.checked)" /> Email Note?
                                </label>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" id="submitBtn" [disabled]="!notesForm.form.valid" class="btn btn-primary">Save changes</button>
                                <button type="button" id="cancelBtn" (click)="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div><!-- new -->
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div><!-- Notes Modal -->
    <!-- Email Modal -->
    <div class="modal fade" id="emailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" id="btnEmailClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title" id="emailModalLabel">Email</h4>
                </div>
                <form role="form" (ngSubmit)="onEmailSubmit()" #notesEmailForm="ngForm">
                    <div class="modal-body">
                        <div class="row">
                            <!-- new -->
                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From</label>
                                    <select #From class="form-control">
                                        <option *ngFor="#t of fromList" value="{{t.cboEntry}}">{{t.cboEntry}}</option>
                                    </select>
                                </div>
                            </div><!-- col-md-6 -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" (click)="selectTo()" class="btn btn-default" data-dismiss="modal">To</button>

                                    <input type="text" [(ngModel)]="model.SentTo" ngControl="sentTo" #sentTo="ngForm" class="form-control" id="to" maxlength="255" required />
                                    <div [hidden]="sentTo.valid || sentTo.pristine" class="alert alert-danger">
                                        Sent To Is Required
                                    </div>
                                </div>
                            </div>
                            <!-- col-md-6 -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Attachment</label>
                                    <input type="file" class="form-control" (change)="fileChange($event)">

                                </div>
                            </div><!-- col-md-6 -->
                            <div class="col-md-12 clear">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control" type="text" id="subject" maxlength="500" />
                                </div>
                            </div>
                        </div>
                        <!--<p>Please enter your text</p>-->
                        <textarea maxlength="900" rows="6" cols="50" style="resize:none" class="form-control" [(ngModel)]="model.Note" ngControl="Note" #Note="ngForm" required></textarea>
                        <div [hidden]="Note.valid || Note.pristine" class="alert alert-danger">
                            Note Is Required
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6 text-left">

                        </div>
                        <div class="col-md-6">
                            <button type="submit" id="sendEmailBtn" [disabled]="!notesEmailForm.form.valid || From.value=='Please Select'" class="btn btn-primary">Send Email</button>
                            <button type="button" id="cancelEmailBtn" (click)="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div><!-- new -->
                    </div>
                </form>
            </div>
        </div>
    </div><!-- Email Modal -->
    <!-- To List -->
    <div class="modal fade" id="toModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title" id="myModalLabel">Contacts</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <!-- new -->
                        <div class="col-md-6">
                            <label>Contact Type</label>
                            <select id="ddlContactType" (change)="contactTypeChange($event)" class="form-control">
                                <option value="Vendor">Vendor</option>
                                <option value="Internal">Internal</option>
                            </select>
                        </div><!-- col-md-6 -->
                        <div class="col-md-12" style="margin-top:2%">
                            <multi-select [lstATitle]="lstATitle" [lstBTitle]="lstBTitle" [listA]="contactList" [columns]="contactsColumns" [selectedStates]="selectedEmails" (sendListData)="getContactsFromList($event)"></multi-select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button type="button" (click)="setToListOnControl()" id="btnSetTo" class="btn btn-primary">Ok</button>
                            <button type="button" (click)="cancelToListAndBack()" id="btnSetToCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" id="closeSentToPopup" style="display:none" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        </div><!-- new -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--To List End-->
</section>
<!--</vendor-detail>-->