<div id="orderSummary" class="clearfixDiv">
    <left-navigation [selectedTab]="clientTab"></left-navigation>
    <notification-msg #notificationcomponent></notification-msg>
    <div id="rightContent">
        <header-detail></header-detail>
        <div class="content">

            <div class="box box-default">
                <div class="documents-details">
                    <div id="DocumentsSection" class="panel panel-default db-panel">

                        <div class="panel-heading" role="tab" id="documentsDetails">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#documentsDetailsD" data-parent="" aria-expanded="true" aria-controls="collapseOne">
                                    Documents <span></span>
                                </a>
                            </h4>
                        </div>

                        <div id="documentsDetailsD" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="documentsDetails">
                            <div class="panel-body">

                                <div class="box-body">
                                    <div class="row">
                                        <div *ngIf="displaySuccessMsg" class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Success!</strong> Successfully saved
                                        </div>
                                        <div *ngIf="displayErrorMsg" class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Error !</strong>Can not save, Please try again.
                                        </div>
                                        <!-- /<form class="form-horizontal"> -->
                                        <div class="col-md-3 document-tree-wrapper" *ngIf="!visibleMergeAllIcon">
                                            <label *ngIf="!visibleMergeAllIcon"> No Documents Available</label>
                                            <a id="DocumentAddBtn" (click)="documentAdd_Clicked()" data-toggle="tooltip" title="Add document"
                                               class="btn btn-sq-xs btn-primary">
                                                <i class="fa fa-plus fa-1x"></i><br>
                                            </a>
                                        </div>
                                        <div class="col-md-3 document-tree-wrapper" *ngIf="visibleMergeAllIcon">
                                            <div id="DocumentControls" class="document-controls">
                                                <span>
                                                    <a id="DocumentAddBtn" (click)="documentAdd_Clicked()" data-toggle="tooltip" title="Add document"
                                                       *ngIf="!isMergeClicked &&!isUnlockClicked && !isDeleteClicked && !isLockClicked" class="btn btn-sq-xs btn-primary">
                                                        <i class="fa fa-plus fa-1x"></i><br>
                                                    </a>
                                                    <a id="DocumentEditBtn" (click)="documentEdit_Clicked()" data-toggle="tooltip" title="Edit document"
                                                       *ngIf="!isDirSelected && !isDeleteClicked" class="btn btn-sq-xs btn-primary">
                                                        <i class="fa fa-pencil fa-1x"></i><br>
                                                    </a>
                                                    <a id="DocumentDeleteBtn" (click)="showDeleteTree_Clicked()" data-toggle="tooltip" title="Delete documents"
                                                       *ngIf="viewDeleteButton && !isDeleteClicked" class="btn btn-sq-xs btn-primary">
                                                        <i class="fa fa-trash-o fa-1x"></i><br>
                                                    </a>
                                                    <a (click)="hideDeleteTree_Clicked()" data-toggle="tooltip" title="Cancel delete"
                                                       *ngIf="isDeleteClicked" class="btn btn-sq-xs btn-primary">
                                                        <i class="fa fa-times fa-1x"></i><br>
                                                    </a>
                                                    <a (click)="documentDel_Clicked()" data-toggle="tooltip" title="Delete Selected document"
                                                       *ngIf="isDeleteClicked" class="btn btn-sq-xs btn-primary">
                                                        <i class="fa fa-trash-o fa-1x"></i><br>
                                                    </a>
                                                </span>
                                            </div><!-- document-controls -->
                                            <div id="DocumentTree">
                                                <directory-view [treeViewList]="treeViewList"
                                                                (editSelectedRow)="nodeSelection_Clicked($event)"
                                                                [isCheckboxEnabled]="1"></directory-view>
                                            </div>

                                        </div><!-- document-tree-wrapper -->
                                        <div class="col-md-9">
                                            <div class="document-view">
                                                <div *ngIf="SelectedViewEnum==1">
                                                    <form (ngSubmit)="saveorderDocument_Click()" #theForm="ngForm" class="clearfix">
                                                        <div id="DocumentItemCntrl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="">Item no</label>
                                                                <select class="form-control" [(ngModel)]="documentModel.ID2" name="ID2"
                                                                        (change)="documentModel.ID2=$event.target.value">
                                                                    <option *ngFor="let t of productList" value="{{t.ItemNo}}">{{t.ItemNo}}-{{t.ProductCode}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div id="DocumentFileCntrl" *ngIf="!isEditMode" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="File">File</label>
                                                                <input type="file" class="form-control"
                                                                       id="File" (change)="fileChange($event)" placeholder="">
                                                            </div>
                                                        </div>

                                                        <div id="DocumentFolderCntrl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="">Folder</label>
                                                                <select class="form-control" [(ngModel)]="documentModel.DocumentFolder" (change)="documentModel.DocumentFolder=($event.target.value)" name="DocumentFolder">
                                                                    <option *ngFor="let t of folderTypeList"
                                                                            value="{{t.cboEntry}}">
                                                                        {{t.cboEntry}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div><!-- /.col -->

                                                        <div id="DocumentTypeCntrl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="">Type</label>
                                                                <select class="form-control"
                                                                        [(ngModel)]="documentModel.DocTypeID"
                                                                        ngControl="dType" #dType="ngModel" (change)="documentModel.DocTypeID=$event.target.value" name="DocTypeID">
                                                                    <option *ngFor="let Type of docTypesList"
                                                                            value="{{Type.RowID}}">
                                                                        {{Type.Description}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div><!-- /.col -->
                                                        <div id="DocumentDescriptionCntrl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="City">Description</label>
                                                                <input type="text" class="form-control" id="Description" placeholder="" maxlength="250"
                                                                       [(ngModel)]="documentModel.Description" name="Description"
                                                                       noControl="visibleMergeAllIcon" #description="ngModel" required />
                                                                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                                                                    Description is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="button-container fr mR15 col-xs-12 text-right">
                                                            <button type="submit" class="btn btn-primary" [disabled]="!theForm.form.valid || !isUploadedFromWeb"> Save</button>
                                                            <div class="btn btn-default" type="button" (click)="canvelOrderDocAddUpdate_Click()">Cancel</div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div *ngIf="SelectedViewEnum==2">
                                                    edit
                                                </div>
                                                <div *ngIf="SelectedViewEnum==3">
                                                    <form>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="">Folder</label>
                                                                <select class="form-control" [(ngModel)]="documentModel.DocumentFolder" (change)="documentModel.DocumentFolder=$event.target.value" name="DocumentFolder">
                                                                    <option *ngFor="let t of folderTypeList"
                                                                            value="{{t.cboEntry}}">
                                                                        {{t.cboEntry}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div><!-- /.col -->

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="">Type</label>
                                                                <select class="form-control"
                                                                        [(ngModel)]="documentModel.DocTypeID" name="DocTypeID"
                                                                        ngControl="dType" #dType="ngModel" (change)="documentModel.DocTypeID=$event.target.value">
                                                                    <option *ngFor="let Type of docTypesList"
                                                                            value="{{Type.RowID}}">
                                                                        {{Type.Description}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div><!-- /.col -->
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="City">Description</label>
                                                                <input type="text" class="form-control" id="Description" placeholder="" maxlength="250"
                                                                       [(ngModel)]="documentModel.Description" name="Description"
                                                                       noControl="name" #name="ngModel" required />
                                                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                                                    Description is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div>
                                                                <label for="Email" class="mr10">Services</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label> <input type="checkbox" [(ngModel)]="documentModel.ClientViewable" name="ClientViewable"> Client Viewable? </label>
                                                                <label> <input type="checkbox" [(ngModel)]="documentModel.VendorViewable" name="VendorViewable"> Vendor Viewable? </label>
                                                                <label> <input type="checkbox" [(ngModel)]="documentModel.BorrowerViewable" name="BorrowerViewable"> Borrower Viewable? </label>
                                                            </div>
                                                        </div>
                                                        <div class="button-container fr mR15">
                                                        </div>
                                                    </form>
                                                </div>

                                                <div id="DocumentPdfViewer" *ngIf="SelectedViewEnum==5">
                                                    <pdf-viewer [pdfPath]="nodeSelected.FilePath"
                                                                (ViewPDF)="ViewPDF($event)"></pdf-viewer>
                                                </div>

                                                <div *ngIf="SelectedViewEnum==6">
                                                    <a href="{{nodeSelected.FilePath}}" download data-toggle="tooltip"
                                                       title="Download document"
                                                       class="btn btn-sq-xs btn-default pull-right">
                                                        <i class="fa fa-download fa-4"></i><br>
                                                        Download document
                                                    </a>

                                                    <img src="../../src/images/mc-bg-988x352.jpg" class="img-responsive opt2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>